* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

:root {
	--gjs-t-color-primary: #cf549e;
	--gjs-t-color-secondary: #b9227d;
	--gjs-t-color-accent: #ffb347;
	--gjs-t-color-success: #28a745;
	--gjs-t-color-warning: #ffc107;
	--gjs-t-color-error: #dc3545;
}

body {
	background-color: #e7e7e7;
	font-family: system-ui, sans-serif;
	margin: 0;
}

.gjs-t-body {
	background-color: rgba(0, 0, 0, 1);
	color: inherit;
	font-size: 1rem;
	line-height: 1.75rem;
	font-family: Arial, Helvetica, sans-serif;
}

.gjs-t-h1 {
	color: var(--gjs-t-color-secondary);
	font-size: 1.5rem;
	line-height: 2.5rem;
}

.gjs-t-h2 {
	color: #601843;
	font-size: 1.2rem;
	line-height: 1.75rem;
}

.gjs-t-button {
	background-color: var(--gjs-t-color-primary);
	color: white;
	border-radius: 0.3rem;
}

.gjs-t-link {
	color: var(--gjs-t-color-primary);
	text-decoration: underline;
}

.gjs-t-border {
	border-radius: 0.3rem;
	border-color: #e0e0e0;
}

* {
	box-sizing: border-box;
}

.gjs-t-body {
	background-color: rgba(0, 0, 0, 1);
	color: inherit;
	font-size: 1rem;
	line-height: 1.75rem;
	font-family: Arial, Helvetica, sans-serif;
}

#ijx2r {
	color: black;
	width: 100%;
}

.gjs-plg-flex-column {
	flex-grow: 1;
}

.gjs-plg-flex-row {
	display: flex;
	align-items: stretch;
	flex-wrap: nowrap;
}

#iswfn {
	width: 100%;
	height: 645px;
}

#im127 {
	flex-basis: 45.98%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 43px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 50%;
}

#il7ok {
	flex-basis: 54.02%;
}

#idzwn {
	width: 100%;
}

#i5gwh {
	flex-basis: 50%;
	padding-right: 5px;
}

#iptyl {
	flex-basis: 50%;
	padding-left: 5px;
}

#i8w7c {
	padding: 10px;
	color: rgb(255, 214, 31);
	padding-right: 25px;
	padding-left: 25px;
	background-color: rgb(255, 214, 31);
}

#i09u3a {
	line-height: 1.7999999999999998;
	margin-top: 0pt;
	margin-bottom: 10pt;
	font-size: 18px;
}

#igiehr {
	color: rgb(255, 214, 31);
	font-family: Geo, sans-serif;
	font-size: 18px;
}

#izy42f {
	line-height: 1.7999999999999998;
	margin-top: 0pt;
	margin-bottom: 10pt;
	font-size: 18px;
}

#itwm7m {
	color: rgb(255, 214, 31);
	font-family: Geo, sans-serif;
}

#iu8f3e {
	text-decoration: none;
}

#i6ijg9 {
	font-size: 18px;
	font-family: Arial, sans-serif;
	color: #1155cc;
	background-color: transparent;
	font-weight: 400;
	font-style: normal;
	font-variant: normal;
	text-decoration: underline;
	-webkit-text-decoration-skip: none;
	text-decoration-skip-ink: none;
	vertical-align: baseline;
	white-space: pre-wrap;
}

#io7zck {
	color: rgb(255, 214, 31);
	font-family: Geo, sans-serif;
}

#it81bw {
	color: black;
	width: 100%;
}

#i3st2u {
	color: black;
	width: 100%;
}

#iietzj {
	color: black;
	width: 100%;
}

#i6eqc6 {
	color: black;
	width: 100%;
}

#ij5yuj {
	color: black;
	width: 100%;
}

#ifcjv7 {
	color: black;
	width: 100%;
}

#ii498 {
	color: rgb(0, 0, 0);
	font-family: Geo, sans-serif;
	font-size: 18px;
}

#ijy8w7 {
	color: black;
	width: 100%;
}

#ildzu9 {
	color: black;
	width: 100%;
}

#iqtg5c {
	padding: 10px;
	position: relative;
}

#ipqca7 {
	text-align: justify;
}

#ism7f-2 {
	position: relative;
}

#i4j0e6 {
	text-align: center;
}

#ir9lvk {
	position: relative;
}

#i3bjgz {
	text-align: justify;
}

#ixozpg {
	text-align: justify;
}

#ik3s83 {
	text-align: center;
}

#ii0ksl {
	font-size: 18px;
}

#iveqas {
	font-size: 18px;
}

#itg4h9 {
	padding: 10px;
	color: rgb(255, 214, 31);
	font-family: Geo, sans-serif;
	font-size: 30px;
	padding-top: 25px;
	padding-right: 10px;
	padding-bottom: 25px;
	padding-left: 10px;
}

#i4qa5h {
	text-align: center;
}

#i6omup {
	text-decoration: underline;
}

#iayc {
	padding-top: 0.016px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#ilok26 {
	display: block;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: row-reverse;
	margin-left: 40%;
	max-width: 20%;
	margin-right: 40%;
	position: relative;
	top: 12px;
}

@media (max-width:992px) {
	#ilok26 {
		top: 310px;
	}

	#iqtg5c {
		top: 298px;
	}

	#itg4h9 {
		padding-top: 15px;
	}
}

@media (max-width:768px) {
	#i5gwh {
		flex: 1 1 0%;
	}

	#iqtg5c {
		top: 577px;
	}

	#ilok26 {
		position: relative;
		top: 608px;
	}

	#i4qa5h {
		font-size: 24px;
	}

	#itg4h9 {
		padding-top: 5px;
		padding-bottom: 15px;
	}

	#iptyl {
		position: static;
		flex: 1 1 0%;
	}

	#idzwn {
		flex-direction: column;
	}

	#im127 {
		flex: 0 1 auto;
		width: 42%;
	}
}

@media (max-width:480px) {
	#iqtg5c {
		top: 1074px;
	}

	#i8w7c {
		padding-left: 5px;
		padding-right: 5px;
		line-height: 25px;
		letter-spacing: 0px;
	}

	#ilok26 {
		top: 1096px;
	}

	#i6ijg9 {
		font-size: 18px;
	}
}